<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="intial-scale=1,width=device-width">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <head>
        <title>Web app using Flask</title>
    </head>
    <body>
        <h3 id="text1">News Classification by NLP(Natural language processing)</h3>
        {% block body %}{% endblock %}
    </body>
</html>